.strength {
  &__container {
    border-bottom: 1px solid var(--neutral-color-30);
    padding-top: 66px;
    padding-bottom: 160px;

    @include mobile {
      padding-top: 26px;
    padding-bottom: 70px;
    }
  }

  &__list,
  &__img {
    margin-bottom: 80px;
  }

  &__list {
    @include flex-align-center;

    @include tablet {
      display: grid;
      gap: 52px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      gap: 42px;
      grid-template-columns: 1fr;
      margin-bottom: 50px;
    }
  }

  &__item {
    @include tablet {
      justify-content: center;
      text-align: center;
    }

    &:not(:last-child) {
      @include flex-align-center;
      gap: 72px;
      margin-right: 72px;

      @include mini-desktop {
        gap: 52px;
        margin-right: 52px;
      }

      @include tablet {
        margin-right: 0;
      }

      &::after {
        content: '';
        display: inline-block;
        flex-shrink: 0;
        width: 1px;
        height: 99px;
        background-color: var(--neutral-color-40);

        @include tablet {
          display: none;
        }
      }
    }

    &-text {
      font-weight: 500;
      line-height: 1.78;
      color: var(--neutral-color-150);
    }

    &-num {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 64px;
      line-height: 1.2;
      color: var(--neutral-color-100);

      @include tablet {
        font-size: 58px;
      }

      @include mobile {
        font-size: 48px;
      }

      @include small-mobile {
        font-size: 42px;
      }
    }
  }

  &__img {
    @include tablet {
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__info {
    @include flex-justify-between;

    @include tablet {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
  }

  &__descr {
    max-width: 421px;
    font-weight: 500;
    line-height: 1.78;
    color: var(--neutral-color-150);

    @include tablet {
      max-width: 700px;
    }
  }
}
