.testimonials {
  padding: 69px 0 160px;

  @include mobile {
    padding: 39px 0 70px;
  }

  &__head {
    @include flex-justify-between-align-center;
    margin-bottom: 48px;

    @include tablet {
      gap: 24px;
      flex-direction: column;
      text-align: center;
    }

    @include mobile {
      gap: 12px;
      margin-bottom: 40px;
    }
  }

  &__title {
    max-width: 530px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include tablet {
      max-width: 650px;
    }
  }

  &__descr {
    max-width: 376px;
    font-weight: 500;
    line-height: 1.78;
    color: var(--neutral-color-150);

    @include tablet {
      max-width: 450px;
    }
  }

  &__rating {
    @include flex-align-center;
    gap: 8px;
    margin-bottom: 19px;

    &-num {
      font-weight: 500;
      line-height: 1.62;
      color: var(--neutral-color-100);
    }
  }

  &__slider-wrapper {
    &::before {
      content: '';
      display: inline-block;
      width: 115px;
      height: 77px;
      background: url('../assets/icons/quotes-icon.svg');
      transform: translateY(15px);

      @include mini-desktop {
        transform: translateY(-5px);
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__slider {
    margin-bottom: 16px;
    max-width: 898px;

    @include small-mobile {
      margin-bottom: 5px;
    }
  }

  &__comment {
    &-text {
      margin-bottom: 40px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);

      @include small-mobile {
        margin-bottom: 20px;
      }
    }

    &-author {
      @include flex-align-center;
      gap: 24px;
      font-style: normal;

      &-avatar {
        overflow: hidden;
        border-radius: 50%;
      }

      &-name {
        font-weight: 600;
        line-height: 1.44;
        color: var(--neutral-color-100);
      }

      &-professions {
        font-weight: 500;
        line-height: 1.62;
        color: var(--neutral-color-150);
      }
    }
  }

  &__btns {
    @include flex-align-center;
    gap: 16px;
    justify-content: flex-end;
    transform: translateY(calc(-100% - 16px));

    @include mini-desktop {
      transform: translateY(0);
    }
  }

  &__btn {
    @include flex-all-center;
    border: 1px solid var(--btns-color-border);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--neutral-color-100);
    transition: var(--transition);

    & svg path {
      fill: var(--neutral-color-10);
    }

    &:hover {
      opacity: 0.8;
    }

    @include small-mobile {
      width: 40px;
      height: 40px;
    }
  }
}

.swiper-button-disabled {
  border-color: var(--neutral-color-40);
  background-color: var(--btns-color-bg-disabled);
  pointer-events: none;

  & svg path {
    fill: var(--btns-color-path-disabled);
  }
}
