<section class="faq">
  <div class="container">
    <h2 class="faq__title heading-h2">Frequently asked questions</h2>
    <p class="faq__descr text-p-medium">
      Everything you need to know about the product and billing.
    </p>
    <!-- тут можно использовать тег details и summary -->
    <ul class="faq__list">
      <li class="faq__item">
        <a class="faq__control" href="#">
          <h3 class="faq__control-title text-p-large">Is there a free trial available?</h3>
          <span class="faq__control-icon"></span>
        </a>
        <p class="faq__content text-p-medium">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
          personalized 30-minute onboarding call to get you up and running as soon as possible.
        </p>
      </li>
      <li class="faq__item">
        <a class="faq__control" href="#">
          <h3 class="faq__control-title text-p-large">How Can I Add More Emails To My Account?</h3>
          <span class="faq__control-icon"></span>
        </a>
        <p class="faq__content text-p-medium">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
          personalized 30-minute onboarding call to get you up and running as soon as possible.
        </p>
      </li>
      <li class="faq__item">
        <a class="faq__control" href="#">
          <h3 class="faq__control-title text-p-large">
            Can I Change Plans Or Cancel My Subscription At Any Time
          </h3>
          <span class="faq__control-icon"></span>
        </a>
        <p class="faq__content text-p-medium">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
          personalized 30-minute onboarding call to get you up and running as soon as possible.
        </p>
      </li>
      <li class="faq__item">
        <a class="faq__control" href="#">
          <h3 class="faq__control-title text-p-large">How Secure Is My Date With Sans CRM</h3>
          <span class="faq__control-icon"></span>
        </a>
        <p class="faq__content text-p-medium">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
          personalized 30-minute onboarding call to get you up and running as soon as possible.
        </p>
      </li>
      <li class="faq__item">
        <a class="faq__control" href="#">
          <h3 class="faq__control-title text-p-large">What Is The Uptime Guarantee</h3>
          <span class="faq__control-icon"></span>
        </a>
        <p class="faq__content text-p-medium">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
          personalized 30-minute onboarding call to get you up and running as soon as possible.
        </p>
      </li>
    </ul>
  </div>
</section>
