<section class="hero">
  <div class="container hero__container section-decor">
    <h2 class="hero__title text-p-default">Pricing plans 🤑</h2>
    <p class="hero__descr heading-h1">Choose a plan for a more advanced business</p>
    <label class="hero__switcher-wrapper">
      <span class="hero__switcher">
        <input class="hero__switcher-checkbox" type="checkbox" data-price="switcher" />
      </span>
      <span class="hero__switcher-text text-p-default">Annual pricing (save 20%)</span>
    </label>
  </div>
  <div class="container">
    <ul class="hero__plans">
      <li class="hero__item">
        <div class="hero__plans-icon-wrapper">
          <div class="hero__plans-icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.31802 6.31802C2.56066 8.07538 2.56066 10.9246 4.31802 12.682L12.0001 20.364L19.682 12.682C21.4393 10.9246 21.4393 8.07538 19.682 6.31802C17.9246 4.56066 15.0754 4.56066 13.318 6.31802L12.0001 7.63609L10.682 6.31802C8.92462 4.56066 6.07538 4.56066 4.31802 6.31802Z"
                stroke="#1D1E25"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <h3 class="hero__plans-title text-p-large">Starter</h3>
        <p class="hero__plans-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <div class="hero__plans-price heading-h2">
          <span data-price="starter">$100</span>
          <span class="hero__plans-price-mo text-p-default" data-price="mo">/mo</span>
        </div>
        <h4 class="hero__plans-list-title text-p-default">What’s included:</h4>
        <ul class="hero__plans-list text-p-default">
          <li class="hero__plans-item">Unlimited Upload</li>
          <li class="hero__plans-item">Advanced Statistic</li>
          <li class="hero__plans-item">Profile Badge</li>
          <li class="hero__plans-item">Access to the community</li>
          <li class="hero__plans-item hero__plans-item--inaccess">History of all Liked Photos</li>
          <li class="hero__plans-item hero__plans-item--inaccess">Directory Listing</li>
          <li class="hero__plans-item hero__plans-item--inaccess">Customize Your Profile</li>
          <li class="hero__plans-item hero__plans-item--inaccess">Display Your Workshops</li>
        </ul>
        <div class="hero__plans-btn-wrapper">
          <button class="hero__plans-btn text-p-default">Chose Plan</button>
        </div>
      </li>
      <li class="hero__item hero__item--popular">
        <div class="hero__plans-icon-wrapper hero__plans-icon-wrapper--popular">
          <div class="hero__plans-icon hero__plans-icon--popular">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13 10V3L4 14H11L11 21L20 10L13 10Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <span class="hero__plans-icon-badge text-p-small">Best Offers 🔥</span>
        </div>
        <h3 class="hero__plans-title hero__plans-title--popular text-p-large">Popular</h3>
        <p class="hero__plans-descr hero__plans-descr--popular text-p-small">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <div class="hero__plans-price hero__plans-price--popular heading-h2">
          <span data-price="popular">$1400</span>
          <span class="hero__plans-price-mo text-p-default" data-price="mo">/mo</span>
        </div>
        <h4 class="hero__plans-list-title hero__plans-list-title--popular text-p-default">
          What’s included:
        </h4>
        <ul class="hero__plans-list text-p-default">
          <li class="hero__plans-item hero__plans-item--popular">Unlimited Upload</li>
          <li class="hero__plans-item hero__plans-item--popular">Advanced Statistic</li>
          <li class="hero__plans-item hero__plans-item--popular">Profile Badge</li>
          <li class="hero__plans-item hero__plans-item--popular">Access to the community</li>
          <li class="hero__plans-item hero__plans-item--inaccess">History of all Liked Photos</li>
          <li class="hero__plans-item hero__plans-item--popular">Directory Listing</li>
          <li class="hero__plans-item hero__plans-item--inaccess">Customize Your Profile</li>
          <li class="hero__plans-item hero__plans-item--inaccess">Display Your Workshops</li>
        </ul>
        <div class="hero__plans-btn-wrapper">
          <button class="hero__plans-btn hero__plans-btn--popular text-p-default">
            Chose Plan
          </button>
        </div>
      </li>
      <li class="hero__item">
        <div class="hero__plans-icon-wrapper">
          <div class="hero__plans-icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 8L3.304 9.043C3.75828 9.40635 4.28636 9.66624 4.85139 9.80456C5.41643 9.94287 6.00484 9.95628 6.57559 9.84384C7.14634 9.7314 7.6857 9.49583 8.15606 9.15355C8.62642 8.81126 9.01647 8.3705 9.299 7.862L12 3L14.701 7.862C14.9836 8.37042 15.3737 8.81109 15.8441 9.15328C16.3145 9.49546 16.8539 9.73093 17.4247 9.84327C17.9954 9.95561 18.5838 9.94212 19.1488 9.80373C19.7138 9.66534 20.2418 9.40539 20.696 9.042L22 8L20.246 16.77C20.1694 17.1527 20.0065 17.5129 19.7696 17.8231C19.5327 18.1333 19.2281 18.3854 18.879 18.56C16.7432 19.628 14.388 20.184 12 20.184C9.61202 20.184 7.25684 19.628 5.121 18.56C4.77193 18.3854 4.46733 18.1333 4.23043 17.8231C3.99353 17.5129 3.83058 17.1527 3.754 16.77L2 8Z"
                stroke="#1D1E25"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8 15C10.596 16.333 13.404 16.333 16 15"
                stroke="#1D1E25"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <h3 class="hero__plans-title text-p-large">Enterprise</h3>
        <p class="hero__plans-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <div class="hero__plans-price heading-h2">
          <span data-price="enterprise">$2100</span>
          <span class="hero__plans-price-mo text-p-default" data-price="mo">/mo</span>
        </div>
        <h4 class="hero__plans-list-title text-p-default">What’s included:</h4>
        <ul class="hero__plans-list text-p-default">
          <li class="hero__plans-item">Unlimited Upload</li>
          <li class="hero__plans-item">Advanced Statistic</li>
          <li class="hero__plans-item">Profile Badge</li>
          <li class="hero__plans-item">Access to the community</li>
          <li class="hero__plans-item">History of all Liked Photos</li>
          <li class="hero__plans-item">Directory Listing</li>
          <li class="hero__plans-item">Customize Your Profile</li>
          <li class="hero__plans-item">Display Your Workshops</li>
        </ul>
        <div class="hero__plans-btn-wrapper">
          <button class="hero__plans-btn text-p-default">Chose Plan</button>
        </div>
      </li>
    </ul>
  </div>
</section>
