<section id="get-started" class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">Let’s level up your brand</h3>
      <p class="get-started__form-descr text-p-medium">
        You can reach us anytime
        <a class="get-started__form-link" href="mailto:hellosansbrothers@gmail.com"
          >hellosansbrothers@gmail.com</a
        >
      </p>
      <form class="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-label text-p-small">
            First name
            <input
              class="get-started__form-input get-started__form-input--small"
              type="text"
              name="first-name"
              required
              placeholder="First name"
            />
          </label>
          <label class="get-started__form-label text-p-small">
            Last name
            <input
              class="get-started__form-input get-started__form-input--small"
              type="text"
              name="last-name"
              required
              placeholder="Last name"
            />
          </label>
        </div>
        <label class="get-started__form-label text-p-small">
          Email
          <input
            class="get-started__form-input"
            type="email"
            name="email-user"
            required
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-label text-p-small">
          Phone number
          <input
            id="phone"
            class="get-started__form-input"
            type="tel"
            name="phone-number-user"
            required
            placeholder=""
          />
        </label>
        <label class="get-started__form-label text-p-small">
          Message
          <textarea
            class="get-started__form-input get-started__form-input--textarea"
            name="message-user"
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button class="get-started__form-btn button-form">Get Started</button>
      </form>
    </div>
    <img
      loading="lazy"
      class="get-started__img"
      src="./assets/image/get-started-img.jpg"
      width="987"
      height="885"
      alt="A woman and a man high-five each other"
    />
  </div>
</section>
