<section class="hero">
  <div class="container">
    <h2 class="hero__title heading-h1">Contact our team to find out more</h2>
    <div class="hero__body">
      <div id="map" class="hero__map"></div>
      <ul class="hero__contacts">
        <li class="hero__contacts-item">
          <h3 class="hero__contacts-item-title text-p-large">Support</h3>
          <p class="hero__contacts-item-descr text-p-default">Our friendly team is here to help.</p>
          <a class="hero__contacts-item-link text-p-default" href="mailto:support@sans.com"
            >support@sans.com</a
          >
        </li>
        <li class="hero__contacts-item">
          <h3 class="hero__contacts-item-title text-p-large">Sales</h3>
          <p class="hero__contacts-item-descr text-p-default">
            Questions or queries? Get in touch!
          </p>
          <a class="hero__contacts-item-link text-p-default" href="mailto:sales@sans.com"
            >sales@sans.com</a
          >
        </li>
        <li class="hero__contacts-item">
          <h3 class="hero__contacts-item-title text-p-large">Phone</h3>
          <p class="hero__contacts-item-descr text-p-default">Mon-Fri from 8am to 5pm.</p>
          <a class="hero__contacts-item-link text-p-default" href="tel:+14353457655"
            >+1 (435) 345-7655</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
