<section class="hero">
  <div class="container">
    <h2 class="hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="hero__info">
      <p class="hero__descr text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain successful digital
        marketing strategies across all channels. Also work with you to build your website and
        create online businesses that grow.
      </p>
      <a class="hero__link" href="#">
        <img
          loading="lazy"
          class="hero__link-arrow"
          src="./assets/icons/about-hero-arrow-icon.svg"
          width="59"
          height="59"
          alt="arrow pointing up to the right"
        />
        <img
          loading="lazy"
          class="hero__link-text"
          src="./assets/icons/about-hero-text-icon.svg"
          width="127"
          height="126"
          alt="get in touch"
        />
      </a>
    </div>
    <div class="hero__slider swiper">
      <ul class="hero__list swiper-wrapper">
        <li class="hero__item swiper-slide">
          <img
            loading="lazy"
            src="./assets/image/about-slider-img-1.jpg"
            width="502"
            height="629"
            alt="man typing on laptop on white table"
          />
        </li>
        <li class="hero__item swiper-slide">
          <img
            loading="lazy"
            class="hero__item-img"
            src="./assets/image/about-slider-img-2.jpg"
            width="502"
            height="370"
            alt="man typing on laptop on white table"
          />
          <h4 class="hero__item-title heading-h5">What we believe in</h4>
          <p class="hero__item-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we
            are. The qualities that unite us, that make us such an effective team, and...
          </p>
          <a class="hero__item-btn button-form text-p-default" href="#">See Details -></a>
        </li>
        <li class="hero__item swiper-slide">
          <img
            loading="lazy"
            src="./assets/image/about-slider-img-3.jpg"
            width="506"
            height="460"
            alt="man typing on laptop on white table"
          />
        </li>
        <li class="hero__item swiper-slide">
          <img
            loading="lazy"
            src="./assets/image/about-slider-img-1.jpg"
            width="502"
            height="629"
            alt="man typing on laptop on white table"
          />
        </li>
        <li class="hero__item swiper-slide">
          <img
            loading="lazy"
            class="hero__item-img"
            src="./assets/image/about-slider-img-2.jpg"
            width="502"
            height="370"
            alt="man typing on laptop on white table"
          />
          <h4 class="hero__item-title heading-h5">What we believe in</h4>
          <p class="hero__item-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we
            are. The qualities that unite us, that make us such an effective team, and...
          </p>
          <a class="hero__item-btn button-form text-p-default" href="#">See Details -></a>
        </li>
        <li class="hero__item swiper-slide">
          <img
            loading="lazy"
            src="./assets/image/about-slider-img-3.jpg"
            width="506"
            height="460"
            alt="man typing on laptop on white table"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
