<section class="hero">
  <div class="container hero__container section-decor">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__descr text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building products that will
      help you run your business better.
    </p>
    <div class="hero__content">
      <ul class="hero__tabs-list">
        <li class="hero__tabs-item">
          <a
            class="hero__tabs-link hero__tabs-link--active text-p-default"
            href="#all-Tab"
            data-id="all-Tab"
            >View all</a
          >
        </li>
        <li class="hero__tabs-item">
          <a class="hero__tabs-link text-p-default" href="#design-Tab" data-id="design-Tab"
            >Design</a
          >
        </li>
        <li class="hero__tabs-item">
          <a class="hero__tabs-link text-p-default" href="#articles-Tab" data-id="articles-Tab"
            >Articles</a
          >
        </li>
        <li class="hero__tabs-item">
          <a class="hero__tabs-link text-p-default" href="#product-Tab" data-id="product-Tab"
            >Product</a
          >
        </li>
        <li class="hero__tabs-item">
          <a
            class="hero__tabs-link text-p-default"
            href="#software-development-Tab"
            data-id="software-development-Tab"
            >Software Development</a
          >
        </li>
        <li class="hero__tabs-item">
          <a
            class="hero__tabs-link text-p-default"
            href="#customer-success-Tab"
            data-id="customer-success-Tab"
            >Customer Success</a
          >
        </li>
      </ul>
      <div class="hero__slider swiper">
        <ul class="hero__slider-list swiper-wrapper">
          <li
            class="hero__slider-item all-Tab customer-success-Tab software-development-Tab design-Tab swiper-slide"
          >
            <img
              loading="lazy"
              class="hero__slider-img"
              src="./assets/image/hero-slider-img-1.jpg"
              width="515"
              height="428"
              alt="a girl with white hair is holding a glass and there is a laptop on the table next to her"
            />
            <div class="hero__slider-head text-p-small">
              <div class="hero__slider-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
            </div>
            <h3 class="hero__slider-title heading-h5">Practice making User Flow</h3>
            <p class="hero__slider-text">
              In this article, we'll cover how to create&nbsp;user&nbsp;flows
            </p>
          </li>
          <li class="hero__slider-item all-Tab software-development-Tab articles-Tab swiper-slide">
            <img
              loading="lazy"
              class="hero__slider-img"
              src="./assets/image/hero-slider-img-3.jpg"
              width="515"
              height="428"
              alt="a girl with white hair is holding a glass and there is a laptop on the table next to her"
            />
            <div class="hero__slider-head text-p-small">
              <div class="hero__slider-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
            </div>
            <h3 class="hero__slider-title heading-h5">Using Grid in website design</h3>
            <p class="hero__slider-text">Andi: "What's the grid like?" Toni: “Like&nbsp;below…”</p>
          </li>
          <li class="hero__slider-item all-Tab customer-success-Tab product-Tab swiper-slide">
            <img
              loading="lazy"
              class="hero__slider-img"
              src="./assets/image/hero-slider-img-2.jpg"
              width="515"
              height="428"
              alt="man typing on laptop on white table"
            />
            <div class="hero__slider-head text-p-small">
              <div class="hero__slider-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <p class="hero__slider-descr">by : Albert Sans</p>
            </div>
            <h3 class="hero__slider-title heading-h5">Overview of the Design Principles</h3>
            <p class="hero__slider-text">
              What are Design Principles?… To understand design principles, we first discuss the
              principles.
            </p>
          </li>
          <li
            class="hero__slider-item all-Tab customer-success-Tab software-development-Tab design-Tab swiper-slide"
          >
            <img
              loading="lazy"
              class="hero__slider-img"
              src="./assets/image/hero-slider-img-1.jpg"
              width="515"
              height="428"
              alt="a girl with white hair is holding a glass and there is a laptop on the table next to her"
            />
            <div class="hero__slider-head text-p-small">
              <div class="hero__slider-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
            </div>
            <h3 class="hero__slider-title heading-h5">Practice making User Flow</h3>
            <p class="hero__slider-text">
              In this article, we'll cover how to create&nbsp;user&nbsp;flows
            </p>
          </li>
          <li class="hero__slider-item all-Tab software-development-Tab articles-Tab swiper-slide">
            <img
              loading="lazy"
              class="hero__slider-img"
              src="./assets/image/hero-slider-img-3.jpg"
              width="515"
              height="428"
              alt="a girl with white hair is holding a glass and there is a laptop on the table next to her"
            />
            <div class="hero__slider-head text-p-small">
              <div class="hero__slider-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
            </div>
            <h3 class="hero__slider-title heading-h5">Using Grid in website design</h3>
            <p class="hero__slider-text">Andi: "What's the grid like?" Toni: “Like&nbsp;below…”</p>
          </li>
          <li class="hero__slider-item all-Tab customer-success-Tab product-Tab swiper-slide">
            <img
              loading="lazy"
              class="hero__slider-img"
              src="./assets/image/hero-slider-img-2.jpg"
              width="515"
              height="428"
              alt="man typing on laptop on white table"
            />
            <div class="hero__slider-head text-p-small">
              <div class="hero__slider-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <p class="hero__slider-descr">by : Albert Sans</p>
            </div>
            <h3 class="hero__slider-title heading-h5">Overview of the Design Principles</h3>
            <p class="hero__slider-text">
              What are Design Principles?… To understand design principles, we first discuss the
              principles.
            </p>
          </li>
          <li
            class="hero__slider-item all-Tab customer-success-Tab software-development-Tab design-Tab swiper-slide"
          >
            <img
              loading="lazy"
              class="hero__slider-img"
              src="./assets/image/hero-slider-img-1.jpg"
              width="515"
              height="428"
              alt="a girl with white hair is holding a glass and there is a laptop on the table next to her"
            />
            <div class="hero__slider-head text-p-small">
              <div class="hero__slider-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
            </div>
            <h3 class="hero__slider-title heading-h5">Practice making User Flow</h3>
            <p class="hero__slider-text">
              In this article, we'll cover how to create&nbsp;user&nbsp;flows
            </p>
          </li>
          <li class="hero__slider-item all-Tab software-development-Tab articles-Tab swiper-slide">
            <img
              loading="lazy"
              class="hero__slider-img"
              src="./assets/image/hero-slider-img-3.jpg"
              width="515"
              height="428"
              alt="a girl with white hair is holding a glass and there is a laptop on the table next to her"
            />
            <div class="hero__slider-head text-p-small">
              <div class="hero__slider-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
            </div>
            <h3 class="hero__slider-title heading-h5">Using Grid in website design</h3>
            <p class="hero__slider-text">Andi: "What's the grid like?" Toni: “Like&nbsp;below…”</p>
          </li>
          <li class="hero__slider-item all-Tab customer-success-Tab product-Tab swiper-slide">
            <img
              loading="lazy"
              class="hero__slider-img"
              src="./assets/image/hero-slider-img-2.jpg"
              width="515"
              height="428"
              alt="man typing on laptop on white table"
            />
            <div class="hero__slider-head text-p-small">
              <div class="hero__slider-date">
                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <p class="hero__slider-descr">by : Albert Sans</p>
            </div>
            <h3 class="hero__slider-title heading-h5">Overview of the Design Principles</h3>
            <p class="hero__slider-text">
              What are Design Principles?… To understand design principles, we first discuss the
              principles.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
