<section class="news">
  <div class="container news__container">
    <div class="news__card">
      <img
        loading="lazy"
        class="news__card-img"
        width="584"
        height="751"
        src="./assets/image/overview-card-img-1.jpg"
        alt="a chair stands near the table with a laptop on it"
      />
      <h3 class="news__card-title heading-h3">
        How we perform long-running tasks using AWS services
      </h3>
      <p class="news__card-descr text-p-medium">
        Webflow is web design tool as well as a hosting platform and CMS all in one. While you are
        probably familiar with all of these, they are usually entirely separate tools.
      </p>
    </div>
    <div class="news__card">
      <img
        loading="lazy"
        class="news__card-img"
        width="584"
        height="507"
        src="./assets/image/overview-card-img-2.jpg"
        alt="development team discussing something"
      />
      <h3 class="news__card-title news__card-title--decor heading-h3">
        How to ask when doing&nbsp;User&nbsp;Research
      </h3>
      <p class="news__card-descr text-p-medium">
        Bro, the story is that you want to make an application for buying and selling goods on the
        market. During user research, what do you think you will ask people?
      </p>
    </div>
    <div class="news__card">
      <img
        loading="lazy"
        class="news__card-img"
        width="584"
        height="507"
        src="./assets/image/overview-card-img-3.jpg"
        alt="development team discussing something top view"
      />
      <h3 class="news__card-title heading-h3">
        Layout Exploration — Simple exercise but big effect
      </h3>
      <p class="news__card-descr text-p-medium">
        Make alternatives or other options for the design we are making. For example, we are
        creating a website design. Then there is the testimonial section.
      </p>
    </div>
    <div class="news__card">
      <img
        loading="lazy"
        class="news__card-img"
        width="584"
        height="751"
        src="./assets/image/overview-card-img-4.jpg"
        alt="a guy with glasses stands against the background of a board and some thoughts"
      />
      <h3 class="news__card-title heading-h3">Webflow Break the Coding&nbsp;Barrier</h3>
      <p class="news__card-descr text-p-medium">
        Webflow is web design tool as well as a hosting platform and CMS all in one. While you are
        probably familiar with all of these, they are usually entirely separate tools.
      </p>
    </div>
  </div>
</section>
