<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title heading-h1">How we perform long-running tasks using AWS services</h2>
    <div class="hero__head">
      <div class="hero__author">
        <img
          class="hero__author-avatar"
          loading="lazy"
          src="./assets/image/comment-author-1.jpg"
          width="56"
          height="56"
          alt="Renee Wells"
        />
        <div class="hero__author-info">
          <span class="hero__author-name text-p-medium">Renee Wells</span>
          <p class="hero__author-professions text-p-default">Product Designer, Quotient</p>
        </div>
      </div>
      <p class="hero__date text-p-medium">
        10 min read<time datetime="2023-11-10">November 10, 2023</time>
      </p>
    </div>
    <img
      loading="lazy"
      class="hero__img"
      src="./assets/image/blog-hero-image.jpg"
      width="940"
      height="545"
      alt="a chair that stands near the table with a laptop on it"
    />
    <p class="hero__text text-p-medium">
      Depending on the input, this can result in using a lot of processing power and time. The whole
      process would take approximately 5 seconds to return a result to the client. Keep in mind
      we’re talking about 1 item, a contact from a contact book. After a while, a new requirement is
      added. Solution must support companies that manage their contacts organized in files. We
      agreed to develop a web application that would support upload of dataset files, like .csv. The
      new web application should support third party integrations. Some of them are the ESP/CRM
      services, like Mailchimp. User does not need to see the result immediately. System can later
      notify the user about the result, when the process finishes. This information is the key that
      we need to leverage on when developing our solution. So here’s how we did it.
    </p>
  </div>
</section>
