.partners {
  padding: 86px 0;

  @include mobile {
    padding: 66px 0;
  }

  &__container {
    @include flex-all-center;
    gap: 30px;

    @include small-tablet {
      gap: 50px;
      flex-direction: column;
      text-align: center;
    }
  }

  &__title {
    max-width: 323px;
    font-weight: 500;
    line-height: 1.78;
    color: var(--neutral-color-150);

    &-num {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);

      @include small-mobile {
        margin-bottom: 10px;
      }
    }
  }

  &__slider {
    margin-right: none;
    margin-left: none;

    @include small-tablet {
      width: 100%;
    }
  }

  &__list {
    display: grid;
    gap: 10px 30px;
    grid-template-columns: repeat(4, 1fr);

    @include mini-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
      display: flex;
      gap: 0;
    }
  }

  &__item {
    @include flex-all-center;
    border-radius: 16px;
    width: 160px;
    height: 90px;
    background-color: #fff;
  }
}
