<footer class="footer">
  <div class="container">
    <div class="footer__head">
      <div class="footer__head-left">
        <h3 class="footer__title">Think beyond the wave</h3>
        <p class="footer__descr text-p-medium">
          Ask about Sans products, pricing, implementation, or anything else. Our highly trained
          reps are standing by, ready to help
        </p>
      </div>
      <a class="footer__link button-form" href="/coca/contact.html#get-started">Try for free</a>
    </div>
    <div class="footer__body">
      <div class="footer__body-info">
        <a aria-label="Home page" class="footer__logo" href="/coca/">
          <img
            loading="lazy"
            src="./assets/icons/light-logo.svg"
            width="140"
            height="42"
            alt="Coca light logo"
          />
        </a>
        <p class="footer__body-descr text-p-default">
          We built an elegant solution. Our team created a fully integrated sales and marketing
          solution for SMBs
        </p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__list text-p-default">
          <li class="footer__item">
            <a class="footer__control" href="#">
              <h4 class="footer__item-title">Company</h4>
              <div class="footer__control-icon">
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.00254 5.14774L1.51317 0.690257C1.38985 0.56752 1.22498 0.5 1.04917 0.5C0.873268 0.5 0.708488 0.56752 0.584976 0.690257L0.191805 1.08085C0.0680976 1.20339 7.31329e-08 1.3672 7.10512e-08 1.54177C6.89696e-08 1.71633 0.0680976 1.87995 0.191805 2.00259L5.53678 7.30993C5.66068 7.43306 5.82624 7.50048 6.00224 7.5C6.17902 7.50048 6.34439 7.43316 6.46839 7.30993L11.8082 2.00753C11.9319 1.88489 12 1.72127 12 1.54661C12 1.37205 11.9319 1.20843 11.8082 1.08569L11.415 0.695198C11.1591 0.441102 10.7425 0.441102 10.4867 0.695198L6.00254 5.14774Z"
                    fill="white"
                  ></path>
                </svg>
              </div>
            </a>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/coca/about.html">About</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/coca/pricing.html">Pricing</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/coca/jobs.html">Jobs</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/coca/blog.html">Blog</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <a class="footer__control" href="#">
              <h4 class="footer__item-title">Product</h4>
              <div class="footer__control-icon">
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.00254 5.14774L1.51317 0.690257C1.38985 0.56752 1.22498 0.5 1.04917 0.5C0.873268 0.5 0.708488 0.56752 0.584976 0.690257L0.191805 1.08085C0.0680976 1.20339 7.31329e-08 1.3672 7.10512e-08 1.54177C6.89696e-08 1.71633 0.0680976 1.87995 0.191805 2.00259L5.53678 7.30993C5.66068 7.43306 5.82624 7.50048 6.00224 7.5C6.17902 7.50048 6.34439 7.43316 6.46839 7.30993L11.8082 2.00753C11.9319 1.88489 12 1.72127 12 1.54661C12 1.37205 11.9319 1.20843 11.8082 1.08569L11.415 0.695198C11.1591 0.441102 10.7425 0.441102 10.4867 0.695198L6.00254 5.14774Z"
                    fill="white"
                  ></path>
                </svg>
              </div>
            </a>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Sales Software</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Marketplace</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Terms & Conditions</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Privacy Policy</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <a class="footer__control" href="#">
              <h4 class="footer__item-title">Discover</h4>
              <div class="footer__control-icon">
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.00254 5.14774L1.51317 0.690257C1.38985 0.56752 1.22498 0.5 1.04917 0.5C0.873268 0.5 0.708488 0.56752 0.584976 0.690257L0.191805 1.08085C0.0680976 1.20339 7.31329e-08 1.3672 7.10512e-08 1.54177C6.89696e-08 1.71633 0.0680976 1.87995 0.191805 2.00259L5.53678 7.30993C5.66068 7.43306 5.82624 7.50048 6.00224 7.5C6.17902 7.50048 6.34439 7.43316 6.46839 7.30993L11.8082 2.00753C11.9319 1.88489 12 1.72127 12 1.54661C12 1.37205 11.9319 1.20843 11.8082 1.08569L11.415 0.695198C11.1591 0.441102 10.7425 0.441102 10.4867 0.695198L6.00254 5.14774Z"
                    fill="white"
                  ></path>
                </svg>
              </div>
            </a>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">CRM Comparision</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Partner Program</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">What is CRM</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Resource</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <a class="footer__control" href="#">
              <h4 class="footer__item-title">Help Center</h4>
              <div class="footer__control-icon">
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.00254 5.14774L1.51317 0.690257C1.38985 0.56752 1.22498 0.5 1.04917 0.5C0.873268 0.5 0.708488 0.56752 0.584976 0.690257L0.191805 1.08085C0.0680976 1.20339 7.31329e-08 1.3672 7.10512e-08 1.54177C6.89696e-08 1.71633 0.0680976 1.87995 0.191805 2.00259L5.53678 7.30993C5.66068 7.43306 5.82624 7.50048 6.00224 7.5C6.17902 7.50048 6.34439 7.43316 6.46839 7.30993L11.8082 2.00753C11.9319 1.88489 12 1.72127 12 1.54661C12 1.37205 11.9319 1.20843 11.8082 1.08569L11.415 0.695198C11.1591 0.441102 10.7425 0.441102 10.4867 0.695198L6.00254 5.14774Z"
                    fill="white"
                  ></path>
                </svg>
              </div>
            </a>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Community</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Knowledge Base</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Academy</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="#">Support</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-lists">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="facebook">
              <img
                loading="lazy"
                src="./assets/icons/socials/fb-icon.svg"
                width="20"
                height="20"
                alt="facebook icon"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="twitter">
              <img
                loading="lazy"
                src="./assets/icons/socials/tw-icon.svg"
                width="20"
                height="20"
                alt="twitter icon"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="instagram">
              <img
                loading="lazy"
                src="./assets/icons/socials/inst-icon.svg"
                width="20"
                height="20"
                alt="instagram icon"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="linkedin">
              <img
                loading="lazy"
                src="./assets/icons/socials/ln-icon.svg"
                width="20"
                height="20"
                alt="linkedin icon"
              />
            </a>
          </li>
        </ul>
        <ul class="footer__bottom-list text-p-small">
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Privacy Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Terms & Conditions</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Support</a>
          </li>
        </ul>
      </div>
      <div class="footer__copyright text-p-small">© Copyright 2023, All Rights Reserved</div>
    </div>
  </div>
</footer>
