<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <div class="swiper partners__slider">
      <ul class="swiper-wrapper partners__list">
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/airbnb-logo-icon.svg"
            width="97"
            height="30"
            alt="airbnb-logo-icon"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/amazon-logo-icon.svg"
            width="97"
            height="30"
            alt="amazon-logo-icon"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/fedex-logo-icon.svg"
            width="96"
            height="30"
            alt="fedex-logo-icon"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            width="116"
            height="26"
            src="./assets/icons/partners/microsoft-logo-icon.svg"
            alt="microsoft-logo-icon"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            width="91"
            height="30"
            src="./assets/icons/partners/google-logo-icon.svg"
            alt="google-logo-icon"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            width="94"
            height="32"
            src="./assets/icons/partners/ola-logo-icon.svg"
            alt="ola-logo-icon"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            width="114"
            height="28"
            src="./assets/icons/partners/walmart-logo-icon.svg"
            alt="walmart-logo-icon"
          />
        </li>
        <li class="swiper-slide partners__item">
          <img
            loading="lazy"
            width="80"
            height="28"
            src="./assets/icons/partners/oyo-logo-icon.svg"
            alt="oyo-logo-icon"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
