.button {
  &-form {
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    transition: opacity var(--transition);

    @include mobile {
      font-size: 14px;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}
