.hero {
  padding: 90px 0 38px;

  @include mobile {
    padding: 30px 0 12px;
  }

  &__title {
    margin-bottom: 82px;
    max-width: 741px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include tablet {
      margin-bottom: 52px;
    }

    @include mobile {
      margin-bottom: 32px;
    }
  }

  &__body {
    @include flex-justify-between-align-center;
    gap: 83px;

    @include tablet {
      gap: 53px;
      flex-direction: column;
    }

    @include mobile {
      gap: 33px;
    }
  }

  &__map {
    width: 100%;
    height: 545px;

    @include tablet {
      height: 445px;
    }

    @include small-tablet {
      height: 345px;
    }

    &-marker {
      @include flex-column;
      gap: 9px;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -100%);

      &-info {
        border-radius: 8px;
        padding: 12px 16px;
        width: 180px;
        height: 88px;
        box-shadow: 0 16px 24px 0 #1e1e1e14;
        background-color: #fff;
      }

      &-title {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.43;
        color: var(--neutral-color-90);
      }

      &-location {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: var(--neutral-color-150);
      }
    }
  }

  &__contacts {
    max-width: 176px;

    @include tablet {
      @include flex-justify-between;
      gap: 40px;
      max-width: 100%;
    }

    @include small-tablet {
      flex-direction: column;
      text-align: center;
    }

    @include mobile {
      gap: 20px;
    }

    &-item {
      border-bottom: 1px solid var(--neutral-color-50);
      padding-bottom: 14px;

      &:not(:last-child) {
        margin-bottom: 40px;

        @include tablet {
          margin-bottom: 0;
        }
      }

      &-title {
        margin-bottom: 8px;
        font-weight: 700;
        line-height: 1.33;
        color: var(--neutral-color-100);
      }

      &-descr {
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 1.5;
        color: var(--neutral-color-150);
      }

      &-link {
        font-weight: 500;
        line-height: 1.62;
        color: var(--neutral-color-100);
        transition: opacity var(--transition);

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.ymaps3x0--map-copyrights {
  display: none !important;
}

.ymaps3x0--map-container,
.ymaps3x0--map {
  width: 100% !important;
}
