<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">we have some new Service to pamper you</p>
    <div class="swiper insight__slider">
      <ul class="swiper-wrapper insight__wrapper">
        <li class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-1-img.jpg"
            alt="Woman typing on laptop and writing on a notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </li>
        <li class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-2-img.jpg"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </li>
        <li class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-1-img.jpg"
            alt="Woman typing on laptop and writing on a notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </li>
        <li class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-2-img.jpg"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </li>
        <li class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-1-img.jpg"
            alt="Woman typing on laptop and writing on a notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </li>
        <li class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            width="582"
            height="332"
            src="./assets/image/insight-slide-2-img.jpg"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
