.section-decor {
  position: relative;

  &::before {
    top: -100px;
    left: -100px;
    width: 551px;
    height: 551px;
    background-color: #fa7515;
    opacity: 0.13;
    filter: blur(220px);

    @include mini-desktop {
      left: 80px;
      width: 351px;
      height: 351px;
    }

    @include small-tablet {
      top: 20px;
      left: 40px;
      width: 251px;
      height: 251px;
    }
  }

  &::after {
    right: -200px;
    bottom: -100px;
    width: 525px;
    height: 525px;
    background-color: var(--success-color-70);
    filter: blur(180px);

    @include mini-desktop {
      right: 50px;
      width: 325px;
      height: 325px;
    }

    @include small-tablet {
      right: 0;
      width: 225px;
      height: 225px;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: var(--z-index-minus-1);
    display: inline-block;
    border-radius: 50%;
  }
}
